// Custom.scss
// Option A: Include all of Bootstrap
@use "sass:map";


$theme-colors: (
        "primary": #A9FF70,
        "warning": #B37CFF,
        "secondary":#71B346,
        "dark":#2F2F2F,
        "danger":#B34646,
        "light": #fff,
        "muted":#E6E6E6,
);

$height_header: 50px;
$size_button_icon: 25px;
$width_left_menu : 15%;

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

header {
  height: $height_header;
}

#accountButton {
  width: $height_header * 0.75;
  height: $height_header * 0.75;
}

.leftMenu {
  background-image: url("../img/bg_left_menu.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: $height_header;
  left: 0;
  z-index: 10;
  min-width: 150px;
  max-width: 600px;
  width: $width_left_menu;

  a {
    margin-bottom: 2rem;
    color: map.get($theme-colors, "light");
    position: relative;
    width: 100%;
    text-align: center;
  }

  a.selected:before {
    content: "";
    width: 100%;
    height: 4rem;
    background: rgba(250, 250, 250, 0.5);
    display: block;
    position: absolute;
    left: 0;
    top: -1rem;
  }

  .footer {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

  }
}





.custom-select {
  height: 100%;
}

.filtre-materiel {
  height: 60px;



  .modeSlection {
    li:not(:first-child):before {
      content: "|";
      position: absolute;
      left: -0.5rem;
    }

    li {
      margin: 0 0 0 1rem;
      position: relative;
    }

    li>a {
      text-underline: none;
      font-weight: bold;
    }

    li > a:not(.selected) {
      color: map.get($theme-colors, "muted");
      cursor: pointer;
    }

    li > a.selected {
      color: map.get($theme-colors, "dark");;
    }
  }

}


.btn-icon {
  width: $size_button_icon;
  height: $size_button_icon;
}


.img-circle {
  clip-path: circle(40%);

}

@import "../node_modules/bootstrap/scss/bootstrap";

//personalised responsive

@include media-breakpoint-up(md) {
  main {
    margin-left: $width_left_menu;
  }
}